@import "../../../../../styles/mixins.scss";
@import "../../../../../styles//variables.scss";

.main1 {
  position: relative;
  display: flex;
  flex-direction: row;
}

.posts {
  position: relative;
  margin: 2rem 1rem;
  display: flex;
  padding: 0.5rem;
  width: 30%;
  background-size: cover;
  padding: $font_xverysmall;
  border: 1px solid lightgray;
  &__image {
    width: 28%;
  }
  &__maincontent{
    display: block;
    position: relative;
    margin-left: 3rem;
    text-align: left;
  } 
  span {
    margin-left: 0;
    font-size: $font_large;
    background-color: #f1f2f3 !important;
  }
  h1 {
    font-size: $font_large;
    font-weight: 600;
  }
  &__link {
    @include textnone;
    font-size: $font_button;
    cursor: pointer !important;
  }
  &__ul {
    font-family: $monstserrat_regular;
    font-size: $font_small;
    @include flexbetween;
    @include listnone;
    padding-left: 0;
  }
}

// @media screen and (min-width: 1024px) and (max-width: 1420px) {
//   .posts{
//     &__image {
//       width: 40%;
//       height: 25vh;
//     }
//     h1{
//       font-size: $font_medium
//     }
//     .read-more {
//       font-size: $font_small;
//     }
//     span {
//       font-size: $font_small;
//     }
//     &__ul {
//       font-size: 1rem;
//       padding: 0 ;
//     }
//   }
// }

// @media screen and (min-width: 768px) and (max-width: 1020px) {
//   .posts {
//     padding: 0;
//     display: block;
//     @include allcenter;
//     position: relative;
//     padding-top: 2rem;
//     &__maincontent{
//       display: block;
//       text-align: center;
//     }
//     p {
//       margin-bottom: 0;
//     }
//     &__ul {
//       padding: 0;
//       font-size:$font_small;
//     }
//     &__image {
//       padding-left: 0;
//       width: 80%;
//     }
//     .read-more {
//       padding-left: 0;
//       margin-bottom: 0;
//     }
//   }
// }

@media screen and (min-width: 320px) and (max-width: 760px) {
  .main1 {
    display: block;
  }
  .posts {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    h1 {
      margin-top: 10px;
      font-size: 1.4rem;
    }
    &__image {
      padding: 0;
      width: 40%;
    }
    &__ul {
      padding: 0;
      font-size: $font_small;
    }
  }
}