@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

// .width-container {
//   padding: 0 3rem
// }
.slider{
  margin: 2rem;
}
.wrap {
  @include flexrow;
  max-height: 100%;
  width: 100%;
  &__banner {
    // width: 70%;
    width: 100%;
    max-height: 100%;
  }
  &__postlist {
    width: 30%;
    max-height: 100%;
  }
}
.features{
  display: flex;
  margin: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__alPost{
width: 77%;
margin: 1rem;
  }
  &__category{
width: 23%;
margin: 1rem;
  }
}
.post-tab {
margin: 2rem;
}

@media screen and (min-width: 320px) and (max-width:760px) {
  .slider {
    margin: 0;
  }
  .features {
    display: block;
    margin: 0;
    &__alPost{
      width: 100%;
      margin: 0;
    }
    &__category {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
 .post-tab {
   display: block;
   padding: 0;
   margin: 0;
  //  margin-left: 1rem;
  //  width: 90%;
 }
}

@media screen and (min-width: 768px) and (max-width:1020px) {
  .slider {
    margin: 0;
  }
  .features {
    display: block;
    margin: 0;
    &__alPost {
      width: 100%;
    }
    &__category {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width:1420px) {
  .features {
    margin: 2rem;
    &__alPost {
      width: 78%;
      margin: 0;
    }
  }
}
